section.content-header
  h1
    | Charts
section.content
  div.box.box-solid
    div.box-body
      form.form-inline(role="form")
        div.form-group
          label.control-label(for="startTime") Start time
          p.input-group
            input.form-control(type="text", id="startTime", datepicker-options="dateOptions", ng-model="startTime", datepicker-popup="{{format}}", is-open="startOpened")
            span.input-group-btn
              button.btn.btn-default(type="button", ng-click="openStart($event)")
                i.glyphicon.glyphicon-calendar
        div.form-group
          label.control-label(for="endTime") End time
          p.input-group
            input.form-control(type="text", id="endTime", datepicker-options="dateOptions", ng-model="endTime", datepicker-popup="{{format}}", is-open="endOpened")
            span.input-group-btn
              button.btn.btn-default(type="button", ng-click="openEnd($event)")
                i.glyphicon.glyphicon-calendar
        div.box-footer
          button.btn.btn-primary.margin(type="submit", ng-click="fetchAll()") Update

  h3 Temperature
  div(ng-repeat="group in groups")
    {{ group.name }}
    flot(dataset="group.data", options="flotOptions", width="90%", height="300px")

  h3 Humidity
  div(ng-repeat="group in groupsHumidity")
    {{ group.name }}
    flot(dataset="group.data", options="flotOptions", width="90%", height="300px")
