section(class="content")
  div(class="row")
    div(class="col-xs-12")
      div(class="box")
        div(class="box-header")
          h3(class="box-title")
            | Sensors                                    
        div(class="box-body table-responsive")
          table(id="sensortable", class="table table-bordered table-hover")
            thead
              tr
                th Name
                th MAC
            tbody
              tr(ng-repeat="sensor in sensors", ng-click="open(sensor)")            
                td {{ sensor.name }}
                td {{ sensor.mac }}



    ng-switch(on="anyItemOpen()")
      div(class="col-md-6", ng-switch-when="true")
        div(class="box")
          div(class="box-header")
            h4(class="box-title")
              | Sensor  

          form(role="form")
            div(class="box-body")
              div(class="form-group")
                label(for="name") Name
                input(type="text", class="form-control", id="name", ng-model="opened.name")
              div(class="form-group")
                label(for="mac") MAC
                input(type="text", class="form-control", id="mac", data-inputmask-regex="^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$", data-mask, ng-model="opened.mac")
            div(class="box-footer")
              button(type="submit", class="btn btn-primary", ng-click="saveSensor()") Save

      div(class="col-md-6", ng-switch-when="true")
        div(class="box")
          div(class="box-header")
            h4(class="box-title")
              | Probes  
          div(class="box-body table-responsive")
            table(id="probetable", class="table table-bordered table-hover")
              thead
                tr
                  th Name
                  th Id
                  th Humidity
              tbody
                tr(ng-repeat="probe in opened.probes", ng-click="openProbe(probe)")            
                  td {{ probe.name }}
                  td {{ probe.id }}
                  td 
                    i(class="fa fa-check", ng-if="probe.humidity")