section.content-header
  h1
    | Administration
    small Sensors
section.content
  div.row
    div.col-xs-12
      div.box
        div.box-header
          h3.box-title Sensors                                    
        div.box-body.table-responsive
          table.table.table-bordered.table-hover(id="sensortable")
            thead
              tr
                th Name
                th Key
                th MAC
                th Active
            tbody
              tr(ng-repeat="sensor in sensors", ng-click="selectSensor(sensor)", ng-class="{selected: sensor === selectedSensor}")            
                td {{ sensor.name }}
                td {{ sensor.key }}
                td {{ sensor.mac }}
                td 
                  i.fa.fa-check(ng-if="sensor.active")
        div.box-footer
          button.btn.btn-primary.margin(ng-click="addSensor()") Add
  div.row
    ng-switch(on="anySensorSelected()")
      div.col-xs-12(ng-switch-when="true")
        div.box.box-solid
          div.box-body
            div.row
              div.col-md-6.col-sm-6
                form(role="form")
                  div.box-body
                    div.form-group
                      label(for="name") Name
                      input.form-control(type="text", id="name", ng-model="selectedSensor.name")
                    div.form-group
                      label(for="key") Key
                      input.form-control(type="text", id="key", ng-model="selectedSensor.key")
                    div.form-group
                      label(for="mac") MAC
                      input.form-control(type="text", id="mac", data-inputmask-regex="^([0-9A-F]{2}[:-]){5}([0-9A-F]{2})$", data-mask, ng-model="selectedSensor.mac")
              div.col-md-6.col-sm-6     
                label(for="probetable") Probes
                div.box-body.table-responsive
                  table.table.table-bordered.table-hover(id="probetable")
                    thead
                      tr
                        th Name
                        th Key
                        th Humidity
                    tbody
                      tr(ng-repeat="probe in selectedSensor.probes", ng-click="selectProbe(probe, $index)", ng-class="{selected: probe === selectedProbe}")            
                        td {{ probe.name }}
                        td {{ probe.key }}
                        td 
                          i.fa.fa-check(ng-if="probe.humidity")
                div.box-footer
                  button.btn.btn-primary.margin(ng-click="addProbe()") Add 
                ng-switch(on="anyProbeSelected()")
                  div(ng-switch-when="true")
                    form(role="form")
                      div.box-body
                        div.form-group
                          label(for="name") Name
                          input.form-control(type="text", id="name", ng-model="selectedProbe.name")
                        div(class="form-group")
                          label(for="key") Key
                          input.form-control(type="text", id="key", ng-model="selectedProbe.key")
                        div.form-group
                          label(for="humidity") Humidity
                          input.form-control(type="checkbox", id="humidity", ng-model="selectedProbe.humidity")
                      div.box-footer
                        button.btn.btn-primary.margin(type="submit", ng-click="saveProbe()") Ok
                        button.btn.btn-warning(ng-click="deleteProbe()") Delete
            div.box-footer
              button.btn.btn-primary.margin(type="submit", ng-click="saveSensor()") Save
              button.btn.btn-warning.margin(ng-click="deleteSensor()") Delete
   
