doctype
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Homefront
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/nv.d3.css')
  body
    block body
    script(src='js/bundle.js')
